<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post Details are giver below :- </h1>
    <a href="http://localhost:4080/posts">Go back</a>
    <h2>Id of the post : - <%= post.id %></h2>
    <div class="details">
       <b>Username</b>  :- <%=post.username  %> <br> <br>
       <b>Content </b>:- <%= post.post%>
    </div>
    
</body>
</html>