<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>

<body>
    <h2>Edit your post</h2>
    <p><b>Post id:-</b>  <%= post.id%></p>
    <p><b>Post username:-</b>  <%= post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea placeholder="Enter edited text" name="post" id="" cols="40" rows="4"><%= post.post%></textarea>
        <br><br> <button type="submit">Submit</button>
    </form>

</body>

</html>