<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="username">Username :- </label>
        <input type="text" name="username" id="username" placeholder="Enter username"><br><br>

        <textarea name="post" id="" cols="50" rows="5" placeholder="Enter text here"></textarea><br>

        <button type="submit">Submit Post</button>
    </form>
</body>
</html>